.footer {
    background-color: var(--black);

    &__content {
        padding: 2.2rem 4.25rem 4rem 2.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
        font-size: 1.2rem;
    }

    @media screen and (max-width: 1320px) {
        &__content {
            padding-right: 4rem;
            padding-left: 4rem;
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 1024px) {
        &__content {
            flex-direction: column;
            gap: 2rem;
        }
    }

    @media screen and (max-width: 834px) {
        &__content {
            flex-direction: row;
            flex-wrap: wrap;     
        }
    }

    @media screen and (max-width: 670px) {
        &__content {
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__heading {
        color: var(--white);
        padding-bottom: 0;
        width: 30%;
    }

    @media screen and (max-width: 1024px) {
        &__heading {
            width: 100%;
        }
    }

    // @media screen and (max-width: 834px) {
    //     &__heading {
    //         width: 26%;
    //     }
    // }

    // @media screen and (max-width: 670px) {
    //     &__heading {
    //         width: 100%;
    //     }
    // }

    &__networks-column {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        color: var(--white);
        width: 20%;

        a {
            color: var(--white);

            img {
                width: 1.5rem;
            }
        }
    }

    &__company-column {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        color: var(--white) !important;
        width: 30%;
    }
    

    @media screen and (max-width: 1320px) {
        &__company-column {
            width: 40%;
        }
    }

    @media screen and (max-width: 1140px) {
        &__company-column, 
        &__networks-column {
            width: fit-content;
        }
    }

    &__messangers-wrapper {
        display: flex;
        gap: 1rem;
    }

    &__mobile-column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        display: none;
        color: var(--white);
        a {
            color: var(--white);
            img {
                width: 2rem;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        &__company-column, 
        &__networks-column {
            display: none;
        }

        &__mobile-column {
            display: flex;

        }
    }

    // &__policy-link {
    //     color:var(--inputWhiteFill)
    // }
}