.services {
    margin-bottom: 3.5rem;

    @media screen and (max-width: 1024px) {
        margin-bottom: 4rem;
    }

    @media screen and (max-width: 670px) {
        margin-bottom: 3.5rem;
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    @media screen and (max-width: 670px) {
        &__wrapper{
            flex-direction: column;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        width: 33.3%;
        padding-bottom: 3rem;
    }

    @media screen and (max-width: 670px) {
        &__card {
            width: 100%;
        }
    }

    &__icon-title {
        display: flex;
        flex-direction: row;
        padding-bottom: 1rem;
        align-items: center;
        width: 100%;
    }

    &__icon {
        width: fit-content;
    }

    &__title {
        padding-left: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: var(--semibold);
        width: 55%;
    }

    @media screen and (max-width: 1024px) {
       &__title {
            font-size: 1.275rem;
        }
    }

    @media screen and (max-width: 834px) {
        &__title {
            font-size: 1.4rem;
        }
    }

    @media screen and (max-width: 540px) {
        &__title {
            width: 60%;
        }
    }

    &__divider {
        width: 183px;
        height: 1px;
        background-color: var(--black);
        margin-bottom: 1.25rem;
    }

    &__description {
        width: 60%;
        font-size: 1rem;
    }

    @media screen and (max-width: 1024px) {
        &__description {
            width: 76%;
        }

        &__divider {
            width: 76%;
        }
    }

    @media screen and (max-width: 834px) {
        &__description {
            font-size: 1.25rem;
            width: 80%;
        }

        &__divider {
            width: 80%;
        }
    }

    @media screen and (max-width: 670px) {
        &__description {
            width: 88%;
        }

        &__divider {
            width: 50%;
        }
    }

    @media screen and (max-width: 540px) {
        &__description {
            width: 100%;
        }
    }

}